**/config.json
**/instances.json

**/trans_c_tmp_parse/
**/trans_c*/
**/trans_re*/
database*/
logs*/
*workspace*/
*metadata*/
look_modifs*/
test_out/
chats*/
look_modifs*/
test_out/
c_code*/
program/sample
program/commands.txt
trans/previous_*/
*output*/
tmp*.json
**/.cargo/registry/
**/.cargo/git/
**/target/

*golden_flow.txt
*_trace.log
*.so
*.so.*
